.Feed__stories {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0 20px 20px;
  border-radius: 3px;
  background-color: white;
  overflow: scroll;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  scroll-behavior: smooth;
}
.Feed__stories::-webkit-scrollbar {
  display: none;
}

.Feed__stories ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
}



.Feed__arrow-container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  padding: 5px;
  top: 50%;
  left: 4%;
  transform: translate(-50%, -50%)
}

.Feed__arrow-container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  padding: 5px;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%)
}

.Feed__arrow {
  color: white;
  font-size: 25px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}