.Grid {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 10px auto 0 auto;
  width: 975px;
  max-width: 975px;
}

.Feed {
  position: relative;
}

.Feed__stories-container {
  max-height: 118px;
  height: 118px;
  width: 100%;
}

.Post {
  max-width: 614px;
  width: 614px;
  background-color: white;
}